
{% extends 'goNow/base.html' %}
{% load static %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                <h1>  &nbsp;Welcome to goNow</h1>
                <hr>
                <form method="POST" class="search-form">{% csrf_token %}

                    <label for="{{ form.trip_loaction.id_for_label }}">Where..</label>
                    {{ form.trip_location }}

                    <label for="{{ form.trip_start_date.id_for_label }}">When..</label>
                    {{ form.trip_start_date }}

                    <label for="{{ form.subject.id_for_label }}">Budget..</label>
                    {{ form.trip_budget }}

                    <label for="{{ form.distance_from_you.id_for_label }}">Area Range..</label>
                    {{ form.distance_from_you }}
                   
                     <button type="submit" class="submitSearch btn btn-default btn-xs">Search</button>
                 </form>
               <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Download</a> -->
            </div>
            <div class="special-content">
            <img src="{% static 'goNow/images/ios.png' %}" width="130px" height="40px">
            <img src="{% static 'goNow/images/google.png' %}"width="130px" height="40px">
            </div>
        </div>
    </header>
{% endblock %}