{% extends 'goNow/base.html' %}
{% load static %}
{% block content %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
           <hr>
            <img class="logo-main" src="{% static 'goNow/images/go-now-logo.png' %}">
                <hr>
                    <form method="POST" class="search-form" hidden="true">{% csrf_token %}
                    <!-- Location -->
                    {{ form.trip_location }}

                    <!-- When -->
                    {{ form.trip_start_date }}

                    <!-- Budget -->
                    {{ form.trip_budget }}

                    <!-- Area around user. -->
                    {{ form.distance_from_you }}

                     <button type="submit" name="submitSearch" class="submitSearch btn btn-default btn-xs">Search</button>
                 </form>
                 <!--<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Subscribe Now!</button></div>-->
               <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Download</a> -->
               <h1>Thanks for Subscribing!</h1>
    <section>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <h2 style="color:FFFFFF;">Coming Soon...</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <img src="{% static 'goNow/images/ios.png' %}" width="130px" height="40px">
               <img src="{% static 'goNow/images/google.png' %}" width="130px" height="40px">
         </div>
     </div>
    </section>
        </div>
    </div>
</header>
{% endblock %}